* {
    box-sizing: border-box;
}

input {
  padding: 10px;
}

/* ID */
#search {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16pt;
    max-width: 300px;
    border: solid 1px grey;
    border-radius: 5px;
}


/* CLASSES */
.container {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

.image-thumbnail img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-thumbnail div {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
}

/* LIGHTBOX */

.mfp-container {
  background-color: rgba(0,0,0,0.7);
}

.mfp-figure {
  margin-top: -10%;
}

.mfp-close {
  display: none;
}

.mfp-title {
  max-width: 600px;
  margin: 5px auto 0;
  padding: 0;
}

.mfp-counter {
  display: none;
}

/* MEDIA */
@media(min-width: 750px) {

.container {
    max-width: 1024px;
}

#search {
    max-width: 47.5%;
}

.image-thumbnail img {
    width: 100%;
    margin: 25px;
    max-width: 200px;
}

.image-thumbnail div {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin: 0;
}

/* LIGHTBOX */
.mfp-figure {
  max-width: 750px;
}
.mfp-title {
  margin-top: 50px;
}
}
